/target
/.vscode
/.ccls-cache/
/test/venv/
__pycache__
/deps/gcc-linaro*
*-target/
/target*
/doxy/*.log
/doxy/*.aux
/doxy/*latexmk
/doxy/*.fls
/core
/node_modules
/package-lock.json
/package.json
/compile_commands.json
